body {
  background-color: black;
  height: 690px;
  width: 1470px;
}
.container{
  text-align: center;
  margin: 10px;
  height: 690px;
  background-color: #ded9d9;
  display:grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.kvadrat{
  font-weight: bolder;
  text-align: center;
}
.block_1{
  width: 1000px;
  margin-left: 270px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.block_2{
  width: 1000px;
  margin-left: 270px;
  margin-top: 50px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
h2{
  margin-left: 10px;
  text-align: left;
  font-size: 30px;
}

.b{
  font-weight: bolder;
  font-size: 20px;
  color: white;
  background-color: red;
  height: 150px;
  width: 240px;
}

.text{
  display: none;
  font-size: 20px;
}