html {
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
  margin: auto;
}
.inside{
  margin-top: -8px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: lightslategrey;
}
.block_2{
  display:flex;
  flex-direction: row;
}
.pic{
  margin-top: 25px;
  margin-left: 5px;
  border-radius: 10px;
  border-style: solid;

}
.text{
  font-size:15px;
  margin-top: 25px;
  margin-right: 5px;
  margin-left: 10px;
  text-align: center
}
.block_3{
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 10px;
  margin-top:275px;
  font-size:15px;
  background-color: antiquewhite;
  border-radius: 5px;
  border-style: solid;


}
.block_1{
  background-color: antiquewhite;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color:white;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.container_1{
  background-color: blue;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px;
  border-style: solid;
  border-color:white;

}