body{
  width: 100%;
  height: 100%;
  font-family: "Roboto";
}
.main{
  display: grid;
  grid-template-rows: 10fr 1fr;
  background-color: lightgray;
}
.doska{
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  margin:auto;
}
.neyt{
  display:flex;
  flex-direction: column;
}

.left{
  margin-right: 100px;
}
.right{
  margin-left: 100px;
}
#btn_1{
  background-color: rgb(114, 114, 237);
  border-radius: 10px;
  margin-left: 100px;
  margin-top: 150px;
  margin-right: 100px;
  width: 60px;

}
#btn_2{
  background-color: rgb(114, 114, 237);
  border-radius: 10px;
  margin-right: 100px;
  margin-top: 100px;
  margin-left: 100px;
  width: 60px;

}
.dva{
  text-align: center;
}
.pyt{
  text-align: center;
}

#spisok{
  box-sizing: border-box;
  padding: 10px 20px;
  width: 400px;
  height: 300px;
  background-color: #8f8f8f;
  padding: 10px;
  border-style: solid;
  border-radius: 10px;
}
.punkt{
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 30px;
}
.punkt_text{
  color: white;
  font-size: 20px;
}
#punkt_btn{
  color: white;
  background-color: grey;
  font-weight: bolder;
  border-style: none;
}




#spisok_right{
  box-sizing: border-box;
  padding: 10px 20px;
  width: 400px;
  height: 300px;
  background-color: #8f8f8f;
  padding: 10px;
  border-style: solid;
  border-radius: 10px;
}
.punkt_right{
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 30px;
}
.punkt_text_right{
  color: white;
  font-size: 20px;
}
#punkt_btn_right{
  color: white;
  background-color: grey;
  font-weight: bolder;
  border-style: none;
}



#menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.add_item_menu_text{
  font-size:large;
  font-weight: 500;
}

#add_btn_menu{
color: white;
background-color: grey;
font-weight: bolder;
border-style: none;
}