.avatar{
  font-size: 20px;
  background-color: #b6e5ff;
  text-align: center;
  margin-right: 5px;
  width: 25%;
  padding-bottom: 50px;
  color:#4657e9;
}
.vk{
  font-weight: bolder;
  font-size: 50px;
  background-color: #b6e5ff;
  text-align: center;
  padding-bottom: 60px;
  color:#4657e9;
}
.stena{
  background-color: #b6e5ff;
  text-align: center;
  padding-bottom: 50px;
  margin-top: 5px;
  color:#4657e9;
}
.container{
  display: flex;
  background-color: black;
}
.block1{
  width: 72%;
}
.dr{
  width: 72%;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  color:#4657e9;
}
.class1{
  background-color: #b6e5ff;
  text-align: center;
  margin-right: 5px;
  padding-right: 19.7%;
  padding-bottom: 70px;
  color:#4657e9;
}
.container3{
    background-color: #b6e5ff;
    margin-top: 5px;
    margin-left: 158px;
    height: 200px;
    width: 72%;
}
.big{
  background-color: black;
}