.main{
  height: 200px;
  width: 300px;
  margin:auto;
  background-color: rgb(175, 174, 174);
}
.login{
  margin-left: 65px;
  border-style: solid;
  border-radius: 5px;
  margin-top: 15px;
}
.h3{
  text-align: center;
  color: white;
}
.voyt{
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  border-color: grey;
  background-color: grey;
  color: white;
  width: 70px;
  margin-top: 20px;
  margin-left: 120px;
}