<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link type="text/css" href="{{ url_for('static', filename='css/style2.css') }}" rel="stylesheet"/>
</head>

<body>
  <form method="post">
    <div class="main">
      <h3>Добавление нового товара</h3>
      <div class="blocks">
        <div class="left">
          <p class="m">Мандаринки</p>
          <img src="https://www.soupstock.in/system/files/images/83/e1/shutterstock_92668441.jpg" class="img" width="150px" height="150px">
        </div>
        <div class="right">
          <p class="opis">Фрукты покрыты глянцевой кожурой средней толщины, которая будто слегка отходит от мякоти, из-за чего плод легко чистить. Мясистые дольки имеют слегка округлую форму, они сочные и мягкие. В зависимости от времени сезона, вкус может варьироваться от чуть более кислого (в начале ноября) до очень сладкого (в декабре).</p>
        </div>
      </div>
      <button class="b">Добавить</button>
    </div>
  </form>
</body>
</html>