<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
</head>

<body>
  <form method="post">
    <div class="main">
      <h2 class="h3">Вход</h2>
      <div class=form>
        <input name="login" class="login" placeholder="Логин"/>
        <input name="parol" class="login" placeholder="Пароль"/>
      </div>
      <button name="button" class="voyt">Войти</button>
    </div>
  </form>
</body>